@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pic{
    background-image: url(../../public/images/desktop-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-secreto{
    background-image: url(../../public/images/header-desktop.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 60.79%, #000 100%), url(../../public/images/header-desktop.jpg) lightgray 50% / cover no-repeat, #000;
}

@media (max-width: 600px) {
    .bg-pic{
        background-image: url(../../public/images/mobile-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .bg-secreto{
        background-image: url(../../public/images/header-mobile.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }
}

.bg-gradient{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.bg-button{
    background: rgb(213,166,54);
background: linear-gradient(90deg, rgba(213,166,54,1) 57%, rgba(254,212,105,1) 100%);
}